source "Kconfig.zephyr"

config PW_SIGN_KEY
    string "Signing key"

config PW_ROTATE_PERIOD_SEC
    int "How ofen message will be rotated"
    default 15

config ADV_BTN_TIMES
    int "How many times button press must be notified"
    default 10

config ADV_USE_PUB_ADDRESS
    bool "Advertise using identity address."
    default y

config ADV_INTERVAL_MIN_MS
    int "Minimum periodic advertising interval"
    default 100

config ADV_INTERVAL_MAX_MS
    int "Maximum periodic advertising interval"
    default 150

config PW_BATT_VOLTAGE
    int "Max battery mVoltage"
    default 3000
